<!DOCTYPE html>
<div class="open">
	<span class="fa fa-bars" onclick="openbar()"></span>
</div>
<div class="sidebar" id="sidebar">
	<div class="close">
		<span class="fa fa-times" onclick="closebar()"></span>
	</div>
	<div class="title">
		Welcome 
	</div>
	<ul class="links">
		<li><a href="content">Dashboard</a></li>
		<li><a href="createcourse">Create Course</a></li>
		<li><a href="updatecourse">Manage Lesson</a></li>
		<li><a href="deletecourse">Delete Course</a></li>
		<li><a href="edituser">Edit Profile</a></li>
		<li><a href="#">Logout</a></li>
	</ul>
</div>
<script src="js/main.js"></script>


